name: Test
on:
  pull_request:
  push:
    branches:
      - main
      - 'renovate/*'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 20 ]
        env:
          - DB: sqlite3
            NODE_ENV: testing
          - DB: mysql8
            NODE_ENV: testing-mysql
    env:
      FORCE_COLOR: 1
      DB: ${{ matrix.env.DB }}
      NODE_ENV: ${{ matrix.env.NODE_ENV }}
      database__connection__password: root
      database__connection__database: nql_testing
    name: Node ${{ matrix.node }}, ${{ matrix.env.DB }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        env:
          FORCE_COLOR: 0
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Shutdown MySQL
        run: sudo service mysql stop
        if: matrix.env.DB == 'mysql8'

      - uses: tryghost/mysql-action@main
        if: matrix.env.DB == 'mysql8'
        with:
          mysql version: '8.0'
          mysql database: 'nql_testing'
          mysql root password: 'root'

      - run: yarn
      - run: yarn test

      - uses: codecov/codecov-action@v5

      - uses: tryghost/actions/actions/slack-build@main
        if: failure() && github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
