name: Test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: ${{ matrix.env.DB == 'mysql8' && 'mysql:8.0' || '' }}
        env:
          MYSQL_DATABASE: nql_testing
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: >-
          --tmpfs /var/lib/mysql
          --health-cmd "mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=12
    strategy:
      matrix:
        node: [ 22, 24 ]
        env:
          - DB: sqlite3
            NODE_ENV: testing
          - DB: mysql8
            NODE_ENV: testing-mysql
    env:
      FORCE_COLOR: 1
      DB: ${{ matrix.env.DB }}
      NODE_ENV: ${{ matrix.env.NODE_ENV }}
      database__connection__password: root
      database__connection__database: nql_testing
    name: Node ${{ matrix.node }}, ${{ matrix.env.DB }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        env:
          FORCE_COLOR: 0
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - name: Set env vars (MySQL)
        if: contains(matrix.env.DB, 'mysql')
        run: |
          echo "database__connection__host=127.0.0.1" >> $GITHUB_ENV
          echo "database__connection__port=${{ job.services.mysql.ports['3306'] }}" >> $GITHUB_ENV

      - run: yarn
      - run: yarn test

      - uses: codecov/codecov-action@v5

      - uses: tryghost/actions/actions/slack-build@main
        if: failure() && github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  required-tests:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ always() }}
    name: Required tests
    steps:
      - name: Check matrix status
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
